/* sfondo */
.root {
    -fx-background-color: #271d33;
}

/* testo */
.text {
    -fx-fill: #acacad;
}

/* Stile per i pulsanti generici */
.button {
    -fx-background-color: #1f132b; /* Colore dello sfondo */
    -fx-text-fill: #acacad; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 15px; /* smussatura angoli */
    -fx-transition-duration: 0.3s; /* transizione hover */
}

/* hover per pulsanti generici */
.button: hover {
    -fx-background-color: #432d5c ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-border-width : 1.65px;
    }

/* per mettere lo sfondo del button eliminare questa parte, eliminando l'hover si mette la sfumatura al logo */
#homeButton {
    -fx-background-color: transparent ;
    -fx-transition-duration: 0.3s;
    -fx-border-color: transparent;
}

#homeButton: hover {
    -fx-background-color: #1f132b;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }
/* Stile per le caselle di testo */
.text-field {
    -fx-background-color: #5c4575; /* Colore dello sfondo */
    -fx-text-fill: #acacad; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 15px; /* smussatura angoli */
}

.text-field: hover
{
    -fx-border-color: #342247;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

/* Stile per le etichette (Label) */
.label {
    -fx-text-fill: #acacad; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
}



/* Stile per i menu */
.menu {
    -fx-background-color: #1f132b; /* Colore dello sfondo */
    -fx-text-fill: #acacad; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
}


/* Stile per gli elementi di menu */
.menu-item {
    -fx-background-color:  #1f132b; /* Colore dello sfondo */
    -fx-text-fill: #acacad; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
}
.menu-item: hover
{
    -fx-background-color:#432d5c;
}

.menu-button {
    -fx-background-color: #1f132b; /* Colore dello sfondo */
    -fx-text-fill: #acacad; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
    -fx-background-radius: 15px; /* smussatura angoli */
}
.menu-button: hover {
    -fx-background-color:#432d5c;
    -fx-border-color: #2c0938;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}