/* sfondo */
.root {
    -fx-background-color: #3a0c4a;
}

/* testo */
.text {
    -fx-fill: #f0f0f0;
}

/* Stile per i pulsanti generici */
.button, .combo-box {
    -fx-background-color: #2c0938; /* Colore dello sfondo */
    -fx-text-fill: #f0f0f0; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 15px; /* smussatura angoli */
    -fx-transition-duration: 0.3s; /* transizione hover */
}

/* hover per pulsanti generici */
.button: hover {
    -fx-background-color: #7847ad ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-border-width : 1.65px;
    }

.combo-box: hover {
-fx-background-color: #7847ad ;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
-fx-border-width : 1.65px;
}

/* per mettere lo sfondo del button eliminare questa parte, eliminando l'hover si mette la sfumatura al logo */
#homeButton {
    -fx-background-color: transparent ;
    -fx-transition-duration: 0.3s;
    -fx-border-color: transparent;
}

#homeButton: hover {
    -fx-background-color: #7847ad;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }
/* Stile per le caselle di testo */
.text-field {
    -fx-background-color: #4c385c; /* Colore dello sfondo */
    -fx-text-fill: #f0f0f0; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 15px; /* smussatura angoli */
    -fx-prompt-text-fill: #6B6173;
}

.text-field: hover
{
    -fx-border-color: #2c0938;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

/* Stile per le etichette (Label) */
.label {
    -fx-text-fill: #f0f0f0; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
}



/* Stile per i menu */
.menu {
    -fx-background-color: #4c385c; /* Colore dello sfondo */
    -fx-text-fill: #f0f0f0; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
}


/* Stile per gli elementi di menu */
.menu-item, .combo-box-popup > .list-view {
    -fx-background-color:  #4c385c; /* Colore dello sfondo */
    -fx-text-fill: #2c0938; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
}
.menu-item: hover
{
    -fx-background-color:#3c274d;
}

.combo-box-popup > .list-view: hover
{
    -fx-background-color:#3c274d;
}

.menu-button {
    -fx-background-color:  #4c385c; /* Colore dello sfondo */
    -fx-text-fill: #2c0938; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
    -fx-background-radius: 15px; /* smussatura angoli */
}
.menu-button: hover {
    -fx-background-color:#3c274d;
    -fx-border-color: #2c0938;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.context-menu {
    -fx-background-color: #4c385c;
}


.text-area {
    -fx-text-fill: #f0f0f0; /* Colore del testo */
    -fx-font-size : 16px;
}

.text-area .content {
  -fx-background-color: #391146;

}



#restaurantNameLabel
{
    -fx-font-size : 30px;
    -fx-font-weight: bold;
}


.list-view, .scroll-bar: vertical .thumb
{
    -fx-background-color: #4C1A57;
}

.scroll-bar: vertical .thumb
{
    -fx-pref-width: 10px;
}

.list-cell
{
    -fx-background-color: #341447;
}

.scroll-bar
{
    -fx-background-color: #430E54;
}

.list-cell: hover, .scroll-bar:vertical .thumb: hover
{
    -fx-background-color: #6E178B;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

#restaurantNameLabel
{
    -fx-font-size : 30px;
    -fx-font-weight: bold;
}

#punLine
{
    -fx-font-size : 16px;
}