/* light-mode.css */

/* Imposta il colore di sfondo per l'intera applicazione */
.root {
    -fx-background-color: #f0f0f0;
}

/* Stile per il testo */
.text {
    -fx-fill: #2c0938; /* Colore del testo */
}

/* Stile per i pulsanti non altrimenti definiti */
.button {
    -fx-background-color: #af77ed; /* Colore dello sfondo */
    -fx-text-fill: #2c0938; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-border-color: #7847ad;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-border-width : 1.65px;
    -fx-transition-duration: 0.3s;
}

.button: hover {
    -fx-background-color: #7847ad ;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }
}

#homeButton {
    -fx-background-color: transparent ;
    -fx-transition-duration: 0.3s;
    -fx-border-color: transparent;
}
#homeButton: hover {
    -fx-background-color: #7847ad;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }

/* Stile per le caselle di testo */
.text-field {
    -fx-background-color: #cfaef5; /* Colore dello sfondo */
    -fx-text-fill: #2c0938; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 15px; /* smussatura angoli */
    -fx-prompt-text-fill: #9F75D0;
}
.text-field: hover
{
    -fx-border-color: #7847ad;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}


/* Stile per le etichette (Label) */
.label {
    -fx-text-fill: #2c0938; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
}

.menu-button {
    -fx-background-color:  #9a66d4; /* Colore dello sfondo */
    -fx-text-fill: #2c0938; /* Colore del testo */
    -fx-transition-duration: 0.3s; /* transizione hover */
    -fx-background-radius: 15px; /* smussatura angoli */
    -fx-border-color: #7847ad;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-border-width : 1.65px;
}
.menu-button: hover {
    -fx-background-color: #7f59ab;
    -fx-border-color: #2c0938;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

/* Stile per i menu */
.menu {
    -fx-background-color: #cfaef5; /* Colore dello sfondo */
    -fx-transition-duration: 0.3s; /* transizione hover */
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

/* Stile per gli elementi di menu */
.menu-item {
    -fx-background-color: #cfaef5;
    -fx-text-fill: #cfaef5; /* Colore del testo */
    -fx-border-color: #cfaef5;
    -fx-border-width: 0px;
}
.menu-item: hover
{
    -fx-background-color: #9d74cc;

}

.context-menu {

    -fx-background-color: #cfaef5;
}
