
/* Imposta il colore di sfondo per l'intera applicazione */
.root {

    -fx-background-color: #e1e5eb;
}



/* Stile per i pulsanti non altrimenti definiti */
.button, .combo-box{
    -fx-background-color: transparent; /* Colore dello sfondo */
    -fx-text-fill: #050505; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-border-color: #050505;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px; /* Raggio degli angoli dei bordi */
    -fx-border-width : 2px;
    -fx-transition-duration: 0.3s;
}

.button: hover {
    -fx-background-color: #050505 ;
    -fx-text-fill: #e1e5eb;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }

.combo-box: hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }


#homeButton {
    -fx-background-color: transparent ;
    -fx-transition-duration: 0.3s;
    -fx-border-color: transparent;
}
#homeButton: hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    }

/* Stile per le caselle di testo */
.text-field {
    -fx-background-color: #b8c0cc; /* Colore dello sfondo */
    -fx-border-color: #050505;
    -fx-text-fill : #1a222e;
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 15px; /* smussatura angoli */
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-prompt-text-fill: #616469;
}
.text-field: hover
{
    -fx-border-color: #050505;
    -fx-background-color: #768499;
    -fx-border-radius: 15px; /* Raggio degli angoli dei bordi */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}


/* Stile per le etichette (Label) */
.label {
    -fx-text-fill: #050505; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
}

.menu-button {
    -fx-background-color:  transparent; /* Colore dello sfondo */
    -fx-text-fill: #050505; /* Colore del testo */
    -fx-font-size: 14px; /* Dimensione del testo */
    -fx-background-radius: 10px; /* smussatura angoli */
    -fx-border-color: #050505;
    -fx-transition-duration: 0.3s; /* transizione hover */
    -fx-border-width : 2px;
    -fx-border-radius: 10px; /* Raggio degli angoli dei bordi */
}

.menu-button:hover {
    -fx-background-color: #768499;
    -fx-text-fill: #e1e5eb;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

/* Stile per i menu */
.menu {
    -fx-background-color: #e1e5eb; /* Colore dello sfondo */
    -fx-text-fill: #050505;
    -fx-transition-duration: 0.3s; /* transizione hover */
}



/* Stile per gli elementi di menu */
.menu-item, .combo-box-popup > .list-view: hover
{
    -fx-background-color: #e1e5eb;
    -fx-text-fill: #050505; /* Colore del testo */
}

.menu-item: hover
{
    -fx-background-color: #b8c0cc;
}

.combo-box-popup > .list-view: hover
{
    -fx-background-color: #b8c0cc;
}

.context-menu {

    -fx-background-color: #e1e5eb;
}



.text-area {
    -fx-text-fill: #050505; /* Colore del testo */
    -fx-font-size : 16px;
}

.text-area .content {
  -fx-background-color: #E9ECF0;

}



.list-view, .scroll-bar: vertical .thumb
{
    -fx-background-color:  #99A7BA;
}

.scroll-bar: vertical .thumb
{
    -fx-pref-height: 5px;
}

.list-cell
{
    -fx-background-color: #C1CAD5;
    -fx-background-radius: 10px;
}

.scroll-bar
{
    -fx-background-color: #586981;
}

.list-cell: hover
{
    -fx-background-color: #99A7BA;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}

.scroll-bar:vertical .thumb: hover
{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
}


#restaurantNameLabel
{
    -fx-font-size : 30px;
    -fx-font-weight: bold;
}

#punLine
{
    -fx-font-size : 16px;
}